<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mıtre Attack</title>

    <!-- font-awesome -->
    <link href="/banzhow/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="/banzhow/css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="/banzhow/css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- JavaScript -->
    <script type="/banzhow/text/javascript" src="js/jquery-1.10.2.js"></script>
    <script type="/banzhow/text/javascript" src="js/bootstrap.js"></script>
    <script type="/banzhow/text/javascript" src="js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script type="/banzhow/text/javascript" src="js/banzhow.js"></script>
</head>


<body>


    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/Home/Home">Mıtre Attack</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/Home/Home">Home</a></li>
                    <li><a href=/Attack/Attack>T1016</a></li>
                    <li><a href=/Attack/T1007>T1007</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                    <li><a href="/Database/Login">Login</a></li>
                    <li><a href="/Database/SignUp">SignUp</a></li>
                    <li><a href="/Attack/TestResults">Test Result</a></li>
                    <li><a href="/Database/Profile">Profile</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>


    @RenderBody() 


    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a class="footer-brand" href="/Home/Home">Mıtre Attack</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing. Sed est quam, pretium a vestibulum vel, aliquam vitae eros.</p>
                    <ul class="list-inline list-unstyled social-networks">
                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-facebook normal">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-twitter normal">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-google-plus normal">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-youtube normal">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-youtube-play"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-linkedin normal">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="icon-social icon-social-pinterest normal">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                                <div class="icon-social hover">
                                    <i class="fa fa-pinterest"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3>CONTACT</h3>
                    <address>
                        <i class="fa fa-map-marker"></i> İstanbul,Basibuyuk Maltepe<br>
                        <i class="fa fa-phone"></i>536 456 61 92<br>
                        <i class="fa fa-envelope"></i> info@mitreattack.com
                    </address>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>LATEST TWEETS</h3>
                    <ul class="latest-tweets">
                        <li>
                            <i class="fa fa-twitter"></i> Cyber security is an important part of our lives.
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i> You can find Miter Attack tests on our site.
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h3>NEWSLETTER</h3>
                    <p>Type your email address below and subscribe to our newsletter</p>
                    <div class="input-group">
                        <input type="text" placeholder="Email" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->
    </footer>

    <div class="footer-after">
        <div class="container">
            <div class="row">
                <p class="col-md-10">©2014 All rights reserved. Designed by John Doe.</p>
                <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>
            </div><!-- /.row -->
        </div>
    </div>

    <!-- Switcher -->
    <script type="/banzhow/text/javascript" src="js/switcher/switcher.js"></script>
    <link href="/banzhow/js/switcher/switcher.css" rel="stylesheet">

    <div id="switcher-options">
        <small>Switch Theme Colour</small>
        <ul class="list-unstyled list-inline">
            <li><a href="#" class="theme-colour default" data-name="default"></a></li>
            <li><a href="#" class="theme-colour blue" data-name="blue"></a></li>
            <li><a href="#" class="theme-colour violet" data-name="violet"></a></li>
            <li><a href="#" class="theme-colour red" data-name="red"></a></li>
            <li><a href="#" class="theme-colour orange" data-name="orange"></a></li>
        </ul>
    </div>
    <!-- /Switcher -->



</body>

</html>