@model FinalProject.Models.Customer


@using (Html.BeginForm())
{

    <link href="~/style2.css" rel="stylesheet" id="bootstrap-css">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form>
                <input type="text"  class="fadeIn second" name="name" placeholder="login">
                <input type="text" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        </div>
    </div>

}
