<link rel="stylesheet" href="~/style2.css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <div>
            <h1 id="welcome_message">MITRE ATTACK TEST WEBSITE</h1>
            <div id="whoweare">
                <h3>WHO WE ARE ?</h3>
                <p>
                    We are a team working in the field of cyber security.
                    We work to protect the systems of companies or individuals from outside attacks.
                    There are attack techniques on our site for users to test on their computers,
                    they can easily enter our site and test it from their own computers and measure
                    their security levels.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
